.WeatherForecast {
    text-align: center; 
    margin-top: 20px;
    color: rgb(15, 15, 15);
  margin-left: 20px;
  margin-right: 20px;
   
}
.Test1 {
    margin-right: 10px;
    margin-left: 10px;
} 
.Weatherforecast-day {
    text-align: center;
}
.Weatherforecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
}
.Weatherforecast-temperature-max {
    margin-right: 5px;
}